.root {
    justify-content: space-between;
}

.elem {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #416E2C;
    font-family: Verdana, Arial, "Helvetica Neue", sans-serif;
    font-weight: bold;
}

.elem:hover {
    background-color: #928574;
}

.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #416E2C;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.show {
    visibility: visible;
    height: 300px;
    opacity: 100%;
    transition: 0.5s;
    transition-property: height, opacity;
}

.hide {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.5s;
    transition-property: height, opacity;
}