.image_introduce {
    padding: 10vh 8vw;
    display: flex;
}

.image_introduce_left {
    width: 70%;
    height: 100%;
}

.image_introduce_right {
    width: 30%;
    height: 100%;
    margin: 5% 0;
}

@media screen and (max-width: 768px) {
    .image_introduce {
        display: block;
    }
    .image_introduce_right {
        width: 100vw;
    }
    .image_introduce_left {
        width: 100vw;
    }
}