@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Single+Day&display=swap');

.fields-body {
    padding: 10vh 10vw;
    width: 75vw;
    height: 100vh;
    display: flex;
}

.fields-body h2 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 30%;
    height: 100%;
}