.doctor-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 20px; /* Space between the two divs */
}


.doctor-image-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 300px;
}

.doctor-image-container img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.doctor-image-container button {
  background-color: var(--accent-color);
  width: 100%;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doctor-image-container button:hover {
  background-color: #c0392b;
}
.doctor-info {
  font-family: "Gowun Dodum", sans-serif;
  flex: 1;
}

.doctor-info h2 {
  margin: 0 0;
}

.doctor-info h3 {
  font-family: 'Arita-buri';
}

.doctor-info p {
  font-family: 'Pretendard';
  font-size: 1em;
}

.doctor-info p b {
  color: var(--secondary-color)
}

.doctor-info button {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doctor-info button:hover {
  background-color: #c0392b;
}