@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.main__box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.picture__modal__p {
    display: flex;

}

.picture {
    width: 100px;
    height: 100px;
}

.content {
    font-size: 6vmin;
    text-align: center;
}

.intro {
    font-size: 20pt;
    text-align: left;
    font-family: 'Gowun Dodum', sans-serif;
    white-space: pre-wrap;
}

.abbreviation{
    font-size: 10pt;
    text-align: right;
}
