@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gamja+Flower&family=Gowun+Batang&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Jua&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&family=Orbit&family=Single+Day&display=swap');

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: "Gowun Batang", serif;
    font-size: 1.2vw;
    height: fit-content;
  }
  
  .logo {
    height: 5vh;
  }
  
  .main-nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .main-nav li {
    margin-left: 60px;
  }
  
  .main-nav a {
    color: #484848;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  .main-nav a:hover {
    color: var(--accent-color);
  }

  @media screen and (max-width: 768px) {
    .main-nav {
      padding: 0;
      width: 100vw;
    }
    .main-nav li {
      margin: 0 6vw;
    }
  }