/* Header styles */
.banner-header {
    position: relative;
    align-self: center;
    height: fit-content;
    padding-top: 15vh;
    overflow: hidden;
    display: flex;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
.banner-header-left {
  width: 20vw;
  height: 70vh;
  background-color: #d2e4dd;
  background-color: #F5EEE6;
}

.banner-header-left p {
  align-self: last baseline;
  padding-top: 55vh;
}


@media screen and (max-width: 768px) {
  .banner-header {
    padding-top: 5vh;
  }
  
  .banner-header-left {
    width: 0vw;
    height: 0vh;
  } 
}