/* Header styles */
.banner-header {
    position: relative;
    align-self: center;
    height: 70vh;
    padding-top: 15vh;
    overflow: hidden;
    display: flex;
    color: white;
    text-align: center;
  }
  
.banner-header-left {
  width: 20vw;
  height: 70vh;
  background-color: #201D1E;
}

.banner-header-left p {
  align-self: last baseline;
  padding-top: 60vh;
}
