@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Noto+Sans+KR:wght@100..900&family=Orbit&family=Single+Day&display=swap');

.smart_phone_diagnosis_result_body {
    display: block;
}

.smart_phone_result_box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%; /* Or set a specific width if needed */
}

.smart_phone_result_box img {
    max-width: 100%; /* Ensures the image scales within the container */
    padding: 50px;
    width: 30vw;
    height: 30vw;
}

.smart_phone_result_box div {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;

}