@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gowun+Dodum&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: #3498db;
  --background-color: #ffffff;
  --text-color: #000000;
  --accent-color: #64302b;
  --card-color: #4a618ac5;
  --card-color: #F3D7CA;
  --card-hover-color: #003742;
}

body {
  font-family: "Gowun Dodum", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 0;
}

.App h2 {
  color: var(--primary-color);
  font-size: 3rem;
}

.App h3 {
  font-size: 20px;
}

.App-header {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}