.program-body {
    padding: 10vh 10vw;
    display: flex;
}

.program-body-left {
    height: 100%;
    width: 40%;
}

.program-body-left h2 {
    margin: 0 0;
}

.program-body-right {
    height: 100%;
    width: 70%;
    display: block;
}


.program-body-right p {
    font-size: 18px;
  }

.program-body-right-content {
    margin-bottom: 10vh;
}

@media screen and (max-width: 768px) {
    .program-body {
        display: block;
        width: fit-content;
    }
    .program-body-left, .program-body-right {
        width: 80vw;
    }
}